<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
          <a href="#"><img src="https://thumbs.dreamstime.com/b/q-questions-answers-symbol-icon-isolated-black-background-simple-vector-logo-q-questions-answers-symbol-icon-162169777.jpg"  /></a>
        </div>  
        <nav class="site-navigation">
          <ul class="nav">
            <li><a class="a" href="home.html">Home</a></li> 
            <li><a class="a" href="#">About Us</a></li> 
            <li><a class="a" href="#">Subjects</a></li> 
            <li><a class="a" href="#">Take tests</a></li> 
            <li><a  class="a" href="#">Institutions</a></li> 
            <li><a  class="a" href="signup.html" class="signup-button" role="button">Button 17</a></li>

            
          </ul>
        </nav>
      </header>
</body>
</html>
